*~
*.o
*.so
*#
*.pyc
*.log
*.db
*.hi
haskell/test1
haskell/korz
haskell/gtk
haskell/test2
haskell/arr
cpp/ngram/ngram
cpp/1/main
haskell/gtk
haskell/candles/candles
haskell/arr
haskell/ngrams/ngfilter
haskell/ngrams/ngfilter2
